<div class="panel panel-default center-block create_station">
	<div class="panel-heading" align="center">Editar Sucursal</div>
	<div class="panel-body" align="center"> 
		<%= render partial:'form' %>
		<%= link_to 'Ver Perfil', @station %> |
		<%= link_to 'Regresar', stations_path %>
	</div>
</div>