<div class="panel panel-default center-block create_station">
<div class="panel-heading" align="center">Dar de alta una sucursal</div>
	<div class="panel-body" align="center"> 		
		<%= render 'form_location' %>
		<hr>
		<%= link_to 'Regresar', root_path %>
	</div>
</div>