<div class="panel panel-default center-block" style='width: 50%;'>
	<div class="panel-heading" align="center">Editar Comentario</div>
		<div class="panel-body"> 
			<%= render partial:'edit_form' %>
		</div>
	</div>
</div>