<%= render partial:'paginas/slider' %>
<div class="jumbotron center">
	<h2>¡Bienvenido a Gasolina Segura!</h2>
	<br>
	<h3>Un sistema que te permite calificar la calidad de servicio que recibes en las diferentes sucursales</h3>
	<h3>¡Abre una cuenta ahora y comienza a calificar!</h3>
	<br>
		<p>
		   <%= link_to "Iniciar sesión", log_in_path, class: "btn btn-default btn-lg" %>
		   <%= link_to "Abre una cuenta", sign_up_path, class: "btn btn-primary btn-lg" %>
	  </p>
</div>