<div class="panel panel-default mypanel center center-block">
  <div class="panel-heading">
    <h1><%= t('views.users.create.page_title').html_safe %></h1>
  </div>
  <div class="panel-body"> 
  <%= render partial:'users/form' %>
  </div>
</div>