<div class="main-container">
	<div class="panel panel-default my-information">
		<%= render partial:'pages/content/user_information' %>
	</div>
	<div class="recent-comments">
		<%= render partial:'pages/content/recent_comments' %>
	</div>
	<div class="panel panel-default top-stations">	
		<%= render partial:'pages/content/top_stations' %>
	</div>
</div>