<% honesty = {} %>
<% customer_service = {} %>
<% speed_service = {} %>
<% Rating.get_station_ratings(@station.id).each do |r| %>
  <% honesty[r.created_at] = r.honesty %>
  <% customer_service[r.created_at] = r.customer_service %>
  <% speed_service[r.created_at] = r.speed_service %>
<% end %>

<div id="highcharts" style="width='100%'; height:300px;"></div>

<script  type='text/javascript'>
  $(function () {
    $('#highcharts').highcharts({
      chart: {
        zoomType: 'x'
      },
      title: {
        text: ''
      },
      tooltip: {
        valueSuffix: ' Puntos'
      },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
      },
      xAxis: {
        categories: <%= (honesty.map{ |key, value| key.to_formatted_s(:short) }).to_json.html_safe %>
      },
      yAxis: {
        title: {
          text: 'Rating'
        }
      },
      series: [
        {
          name: 'Honestidad',
          data: <%= (honesty.map{ |key, value| value }).to_json.html_safe %>
        },
        {
          name: 'Atencion al cliente',
          data: <%= (customer_service.map{ |key, value| value }).to_json.html_safe %>
        },
        {
          name: 'Velocidad del servicio',
          data: <%= (speed_service.map{ |key, value| value }).to_json.html_safe %>
        }
      ]
    });
  });
</script>