<div class="panel panel-default">
	<div class="panel-heading" align="center"><%= t('views.pages.main.content.recent_comments.page_title') %></div>
</div>
<% @recent_comments.each do |comment| %>
	<div class="panel panel-default" style="margin-top: -16px;">
    <div align="center">
      <div align="right">
        <%= link_to comment.station, class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-eye-open"></i>
        <% end %>
      </div>
      <hr>
      <b><%= comment.station.legal_name.titleize if comment.station%></b>
    </div>    
		<% @comment_description = truncate comment.description.humanize, length: 50 %>
		<hr>
		<p align="center">"<%= @comment_description %>"</p>
	</div>
<% end %>