<div class="panel panel-default">
	<div class="panel-heading" align="center">Comentarios Recientes</div>
</div>

<% @recent_comments.each do |comment| %>
	<div class="panel panel-default">
		<br>
		<p align="center"><%= comment.station.legal_name.titleize if comment.station%></p>
		<% @comment_description = truncate comment.description.humanize, length: 70 %>
		<hr>
		<p align="center">"<%= link_to @comment_description, comment%>"</p>
	</div>
<% end %>