<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Gasolina Segura", root_path, class:"navbar-brand"%>
  </div>
  <% if current_user %>
  <div class="col-md-6  col-sm-offset-1">
    <form class="navbar-form " role="search" >    
      <div class="form-group" >
        <input type="text" class="form-control" placeholder="Escribe el nombre de la gasolinera que deseas buscar">
      </div>
    </form>   
  </div>
  <% end %>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="col-md-3 nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= link_to "Cerrar sesión", log_out_path %></li>
      <% else %>
        <li><%= link_to "Registrarse", sign_up_path %></li>
        <li><%= link_to "Iniciar sesión", log_in_path %></li>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>